@{
    ViewData["Title"]="Details";
}

<h1>Book Details</h1>
<!--If an “id” query string parameter was supplied, use “GetBookByID()” and render: "You checked out {Title} on {CheckedOutDate}, and the due date is {DueDate}."-->
@{
    if ( ViewBag.Error!=null )
    {

        <p class="alert-danger">No book was selected.</p>
    }
    //Displaying al the errors in the form of List
    else if ( ViewBag.Exception!=null )
    {
        <ul class="alert-danger">
            @foreach ( Exception e in ViewBag.Exception.newExceptions )
            {
                <li>@(e.Message)</li>
            }
        </ul>

        <p>@($"You checked out {ViewBag.Book.Title} on {ViewBag.Book.CheckedOutDate.ToShortDateString()}, and the due date is{ViewBag.Book.DueDate.ToShortDateString()}.")</p>

        <section>
            <h2>Books Details</h2>

            <p>Title: @(ViewBag.Book.Title)</p>
            <p>Author: @(ViewBag.Book.Author)</p>
            <p>Publication Date: @(ViewBag.Book.PublicationDate.ToShortDateString())</p>
            <p>Checked Out Date: @(ViewBag.Borrow.CheckedOutDate.ToShortDateString())</p>
            <p>Due Date: @(ViewBag.Borrow.DueDate.ToShortDateString())</p>
            <p>Returned Status/ Date: @(ViewBag.Borow.ReturnedDate == null?"Not Returned":((DateTime)ViewBag.Borrow.ReturnedDate).ToShortDateString())</p>
            <p>Extensions: @(ViewBag.Borrow.ExtensionCount)</p>
        </section>

        <!--https://localhost:44375/Book/Details?id=1&extend=true-->
        <a class="btn btn-primary" href="/Book/Details?id=@(ViewBag.Book.ID)&extend=true">Extend DueDate for @(ViewBag.Book.Title)</a>
        <a class="btn btn-success" href="/Book/Details?id=@(ViewBag.Book.ID)&returned=true">Return Book @(ViewBag.Book.Title)</a>
        <a class="btn btn-danger" href="/Book/Details?id=@(ViewBag.Book.ID)&delete=true">Delete @(ViewBag.Book.Title)</a>
        <a class="btn btn-secondary" href="/Book/Details?id=@(ViewBag.Book.ID)&borrow=true">Borrow @(ViewBag.Book.Title)</a>

    }

    else
    {
        <h1>Details - @(ViewBag.Book.ID)</h1>
        <p>@($"You checked out {ViewBag.Book.Title} on {ViewBag.Borrow.CheckedOutDate.ToLongDateString()}, and it is due on {ViewBag.Borrow.DueDate.ToLongDateString()}.")</p>

        <section>
            <h2>Book Details</h2>
            <p>Title: @(ViewBag.Book.Title)</p>
            <p>Author: @(ViewBag.Book.Author.Name)</p>
            <p>Publication Date: @(ViewBag.Book.PublicationDate.ToLongDateString())</p>
        </section>
        <section>
            <h2>Library Details</h2>
            <p>Checked Out Date: @(ViewBag.Book.CheckedOutDate.ToLongDateString())</p>
            <p>Due Date: @(ViewBag.Book.DueDate.ToLongDateString())</p>
            <p>Checked Out Date: @(ViewBag.Book.ReturnedDate == null?"Not Returned":((DateTime)ViewBag.Book.ReturnedDate).ToLongDateString())</p>
            <p>Number of extensions : @(ViewBag.Book.ExtensionCount)</p>
        </section>

        <a class="btn btn-primary" href="/Book/Details?id=@(ViewBag.Book.ID)&extend=true">Extend Deadline</a>
        <a class="btn btn-danger" href="/Book/Details?id=@(ViewBag.Book.ID)&delete=true">Delete Book</a>
        <a class="btn btn-secondary" href="/Book/Details?id=@(ViewBag.Book.ID)&returnbook=true">Return Book</a>
    }

}
}